.form {
  display: flex;
  justify-content: center;
}

.spinner {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.correct-answer {
  background-color: rgba(203, 254, 127, 0.747);
}

.back-to-home-button {
  position: sticky;
  top: 5rem;
  right: 1rem;
  width: 9rem !important;
}
