.input {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  width: 15rem;
  color: white;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 3%;
  border-color: black;
  padding: 10px 14px;
  background-color: rgba(32, 32, 68, 0.655);
}

.input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.input:focus::placeholder {
  position: absolute;
  font-size: 10px;
  top: 0.2rem;
  font-weight: 400;
  right: 15%;
}

.error {
  color: #ff1100;
  font-size: 14px;
  font-weight: 400;
  margin-left: 12px;
  margin-top: 4px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2rem;
  margin-left: 2rem;
}