.select {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  width: 15rem;
  color: rgba(255, 255, 255);
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 3%;
  border-color: black;
  padding: 10px 14px;
  background-color: rgba(32, 32, 68, 0.655);
}

.error {
  color: #db4437;
  font-size: 14px;
  font-weight: 400;
  margin-left: 12px;
  margin-top: 4px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2rem;
  margin-left: 2rem;
}

.absolute-top {
  position: absolute;
  top: -1rem;
  right: 0;
}