.correct-answer {
    background-color: rgba(203, 254, 127, 0.747);
 }

 .wrong-answer {
    background-color: rgba(210, 123, 123, 0.69);
 }

 .half-screen {
    width: 50vw;
 }

 .back-to-home-button {
    position: sticky;
    top: 5rem;
    right: 1rem;
    width: 9rem !important;
 }