.progress {
    width: 33%;
    height: 0.5rem;
    border-radius: 24px;
    background: #9e5ef8;
    margin: 0;
}
  
.progress::-webkit-progress-bar {
    background: #6a558a;
    border-radius: 24px;
}
  
.progress::-webkit-progress-value {
    background: #9e5ef8;
    border-radius: 24px;
}