* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3.2rem;
}

body {
  margin: 0;
  padding: 2rem;
  background-color: #1d0433;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%237616DD'/%3E%3Cstop offset='1' stop-color='%231D0433'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%2318E0FF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2318E0FF' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

#root {
  width: 100vw;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.button {
  color: rgba(255, 255, 255, 0.75);
  font-size: large;
  width: 15rem;
  height: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 2%;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.7s;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(67, 67, 153);
  color: rgb(225, 191, 191);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.red-background {
  background-color: red;
}

.blue-background {
  background-color: rgba(32, 32, 68, 0.655);
}

.yellow-background {
  background-color: yellow;
}

.orange-background {
  background-color: rgb(227, 196, 139);
}

.green-background {
  background-color: rgb(136, 229, 136);
}

.border {
  border-radius: 1%;
  border-color: rgba(0, 0, 0, 0.215);
  border-style: solid;
}

.pt-1 {
  padding-top: 0.5rem;
}

.pt-2 {
  padding-top: 1.25rem;
}

.pt-3 {
  padding-top: 2rem;
}

.pt-4 {
  padding-top: 2.75rem;
}

.pt-5 {
  padding-top: 3.5rem;
}

.pr-1 {
  padding-right: 0.5rem;
}

.pr-2 {
  padding-right: 1.25rem;
}

.pr-3 {
  padding-right: 2rem;
}

.pr-4 {
  padding-right: 2.75rem;
}

.pr-5 {
  padding-right: 3.5rem;
}

.pl-1 {
  padding-left: 0.5rem;
}

.pl-2 {
  padding-left: 1.25rem;
}

.pl-3 {
  padding-left: 2rem;
}

.pl-4 {
  padding-left: 2.75rem;
}

.pl-5 {
  padding-left: 3.5rem;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.pb-2 {
  padding-bottom: 1.25rem;
}

.pb-3 {
  padding-bottom: 2rem;
}

.pb-4 {
  padding-bottom: 2.75rem;
}

.pb-5 {
  padding-bottom: 3.5rem;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1.25rem;
}

.mt-3 {
  margin-top: 2rem;
}

.mt-4 {
  margin-top: 2.75rem;
}

.mt-5 {
  margin-top: 3.5rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mr-2 {
  margin-right: 1.25rem;
}

.mr-3 {
  margin-right: 2rem;
}

.mr-4 {
  margin-right: 2.75rem;
}

.mr-5 {
  margin-right: 3.5rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.ml-2 {
  margin-left: 1.25rem;
}

.ml-3 {
  margin-left: 2rem;
}

.ml-4 {
  margin-left: 2.75rem;
}

.ml-5 {
  margin-left: 3.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 1.25rem;
}

.mb-3 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 2.75rem;
}

.mb-5 {
  margin-bottom: 3.5rem;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: end;
}

.text-end {
  text-align: start;
}

.text-white {
  color: white;
}

.text-red {
  color: red;
}

.text-black {
  color: black;
}

.margin-auto {
  margin: auto;
}
