.spinner {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.toolbar {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.pic {
  box-shadow: 5rem;
  position: fixed;
  top: 45%;
  width: 25%;
  left: 37.5%;
  z-index: 1;
}
